{% extends "base.html" %}
{% block content %}
<section id="albums-section">
    <h2>Álbumes</h2>
    <a href="{% url 'crear/album' %}" class="add-btn">➕ Crear nuevo álbum</a>
    <ul id="album-list">
        {% for album in albums %}
        <li class="album-item">
            <div>
                {% if album.image %}
                    <img src="{{ album.image }}" alt="{{ album.title }}">
                {% endif %}
                <strong>{{ album.title }}</strong> ({{ album.year }})
            </div>
            <div class="album-actions">
                <a href="{% url 'editar/album' album.id %}" class="edit-btn">✏️ Editar</a>
                <a href="{% url 'eliminar/album' album.id %}" class="delete-btn">🗑️ Eliminar</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}