{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="banner-container">
    <img src="{% static 'imgs/home.jpg' %}" alt="banner" class="banner-image">
    <div class="banner-text">
        <h1 class="banner-heading">Welcome to Our Site!</h1>
        <p class="banner-description">Discover amazing content and enjoy the experience.</p>
    </div>
</div>

<div class="cards-container">
    {% for product in products %}
    <div class="card">
       {% if product.image %}
         <img src="{{ product.image }}" alt="{{ product.name }}" class="card-image">
       {% else %}
         <img src="{% static 'imgs/default_product.png' %}" alt="Sin imagen" class="card-image">
       {% endif %}
       <div class="card-content">
           <h2 class="card-title">{{ product.name }}</h2>
           <p class="card-description">{{ product.description }}</p>
           <p class="card-price">Precio: ${{ product.price }}</p>
           <p class="card-stock">Stock: {{ product.stock }}</p>
       </div>
    </div>
    {% empty %}
      <p>No hay productos disponibles.</p>
    {% endfor %}
</div>
{% endblock content %}
